*.o
*~
.deps
.dirstamp
/BUILD.*
/ChangeLog
/INSTALL
/compile
/config.h
/config.h.in
/config.log
/config.status
/dhcp-forwarder.spec
/dhcp-fwd
/stamp-h1
/test-driver
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
missing
